div.container
  div.title.animated.fadeInLeft.slow
    h1 Triangles
    h2 Rule-based Art Study

  div#p5sketch

  div.txt.animated.fadeInRight.slow
    p In rule-based art the draw is thi direct result of logic-based systems to implemented to direct the design and creation of the object. The artist forces the draw to conform to certain arbitrary rules, whom represent the artwork itself.
    
    p This #[strong #p5js] script create changing texture using only triangles disposed in strategic points on the canvas. 